.important {
	font-weight: bold;
	font-size: xx-large;
	padding: 3px;
	margin: 3px;
	border: 15px solid red !important;
}

tr.k1 {
	color: green;
}

tr.k2 {
	color: blue;
}

tr.k3 {
	color: red;
}

tr.k0 {
	background-color: #ff8080 !important;
}

#patientsTable tbody tr td {
	white-space: nowrap;
}

.pform {
	position: relative;
	width: 100%;
	height: 100%;
	overflow-y: scroll;
	min-width: 450px;
	max-height: 550px;
}

.pform-cat {
	border: solid 1px black;
	float: left;
	display: block;
	width: 100%;
}

.pform-label {
	padding: 5px;
	font-size: 12px;
}

legend {
	margin-bottom: 1px !important;
}

/*
	DATATABLES 
*/
.sorting_asc {
	padding-right: 18px;
	cursor: pointer;
	background: url('sort_asc.png') no-repeat center left !important;
}

.sorting_desc {
	padding-right: 18px;
	cursor: pointer;
	background: url('sort_desc.png') no-repeat center left !important;
}

.sorting {
	padding-right: 18px;
	cursor: pointer;
	background: url('sort_both.png') no-repeat center left !important;
}

.center {
	text-align: center;
}

/*
	iCheck-like
*/
input[type="radio"] {
	display: none;
}

input[type="radio"]+label span {
	display: inline-block;
	width: 19px;
	height: 19px;
	margin: -1px 4px 0 0;
	vertical-align: middle;
	background: url(check_radio_sheet.png) left top no-repeat;
	cursor: pointer;
}

input[type="radio"]:checked+label span {
	background: url(check_radio_sheet.png) -19px top no-repeat;
}

[class^="icon-"]:before, [class*=" icon-"]:before {
	color: white;
}

/**
	Bootstrap
*/
nav.navbar {
	margin-bottom: 0px !important;
}

#wpcontent, #footer {
	margin-left: 0px;
	padding-left: 0px;
}

#wpbody-content {
	padding-bottom: 0px !important;
}
/*
	bootbox over fancybox
*/
.bootbox.modal > .modal-dialog {
  z-index: 1050 !important;
}

.fancybox-overlay {
  z-index: 1000 !important;
}