<legend>
	<table>
		<tr>
			<td style="width: 80%"><span id="patient-name" name="patient-name"></span>
			<a id="confirm-delete" href="#" data-bb="confirm" class="btn btn-default">Usuń</i></a>
			</td>
			<td>{% include ['pProgress.twig'] %}</td>
		</tr>
	</table>
</legend>